.overlay{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000000;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.overlay.active {
    display: block;
    opacity: 0.6;
}

.container{
    width: 100%;
    min-height: 300px;
    display: block;
    text-align: center;
}
.container a{
    font-size: 17px;
    line-height: 1em;
    padding: 13px 42px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    background-color: bisque;
}

.popup {
    width: 500px;
    min-height: 300px;
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    margin-bottom: 50px;
}
.popup.show{
    display: block;
}
.closePopup{
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 24px;
    font-family: monospace;
    cursor: pointer;
}
.video-popup .closePopup{
    color: #ffffff;
}
ul.gallery{
    background-color: #ffffff;
    margin: 0;
    padding: 15px;
}
ul.gallery li{
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
}
div.gallery-item-image img{
    width: 100%;
}

/*Confirm Popup*/

.popup.confirm-popup,
.popup.prompt-popup{
    min-height: 200px;
}
.confirm-popup .confirm-text,
.prompt-popup .confirm-text{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%,-50% );
    font-size: 24px;
    width: 90%;
    text-align: center;
}
.confirm-popup .confirm-controls,
.prompt-popup .confirm-controls{
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.confirm-popup .confirm-controls button,
.prompt-popup .confirm-controls button{
    padding: 8px 16px;
    border-radius: 5px;
    margin-left: 20px;
    outline: 0;
}

/*PromptPopup*/

.popup.prompt-popup input{
    width: 50%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50% );
    border: 1px solid #000000;
}

/*ul.items*/

ul.items{
    width: 30%;
}
ul.items li.item{
    list-style: none;
    background-color: #00c8ff;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
ul.items li.item:first-child{
    border-top: 1px solid #000000;
}
li.item span{
    float: left;
    padding: 10px 15px;
}
li.item div.item-controls{
    float: right;
}
li.item:after{
    content: '';
    display: block;
    clear: both;
}

li.item div.item-controls div{
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    border-left: 1px solid #000000;
}
